button {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  border: transparent 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  color: salmon;
  transition: 300ms;
}

button:hover {
  background-color: lightsalmon;
  color: white;
  border-radius: 10px;
}

button:active {
  background-color: salmon;
  color: white;
  border-radius: 10px;
}

button:focus-visible {
  outline: none;
}

button span {
  flex: 1;
  flex-grow: 2;
  font-size: 20px;
}

button.selected {
  background-color: salmon;
  color: white;
  border-radius: 10px;
}

.food-info-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.food-info-title span {
  flex: 1;
  flex-grow: 2;
  font-size: 20px;
  color: white;
}

.food-list {
  width: 100%;
  padding: 0 0;
  box-sizing: border-box;
  border: 5px solid lightsalmon;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border-radius: 15px;
  color: salmon;
  transition: 300ms;
  overflow: hidden;
}

.food-list ul {
  width: 100%;
  margin: 0;
  list-style: none;
}

.food-list li {
  margin: 0 auto;
  margin: 0;
  list-style: none;
}

.food-list-container {
  border-radius: 10px;
  background-color: lightsalmon;
  transition: 300ms;
}

.add-btn {
  margin: 0 auto;
  width: 30%;
  margin-top: 10px;
  background-color: lightsalmon;
  color: white;
  font-size: 20px;
  border: transparent 0px;
  border-radius: 10px;
}

.add-btn:hover {
  background-color: salmon;
}

.add-btn:active {
  background-color: red;
}
