<h1>Today</h1>
<div class="today-list-container">
  <ul>
    <li *ngFor="let food of todayFoods">
      <button [class.selected]="food===selectedFood" type="button" (click)="onSelected(food)">
        <span>{{food.name}}</span>
        <span>{{food.fat}}</span>
        <span>{{food.carbohydrates}}</span>
        <span>{{food.protein}}</span>
      </button>
    </li>
  </ul>

  <p *ngIf="selectedFood">Selected: {{selectedFood.name}}</p>
</div>
<div class="result">
  <div class="total">
    <span>Goal</span>
    <span>Fat: {{totalFat()}}</span>
    <span>Carbohydrates: {{totalCarbohydrates()}}</span>
    <span>Protein: {{totalProtein()}}</span>
  </div>

  <div class="total">
    <span>Total</span>
    <span>Fat: {{totalFat()}}</span>
    <span>Carbohydrates: {{totalCarbohydrates()}}</span>
    <span>Protein: {{totalProtein()}}</span>
  </div>
</div>

<button *ngIf="selectedFood" (click)="deleteTodayFood(selectedFood)" class="delete-btn">Delete</button>
