<!-- Header 下下下 -->
<div class="header">
  <img width="100px" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <h1>Diet Dashboard</h1>

  <div class="date-display">
    <span>{{date}}</span>
  </div>

</div>
<!-- Header 上上上 -->

<!-- Body 下下下 -->
<div class="content-container">
  <!-- Sidebar 下下下 -->
  <div class="sidebar">
    <img width="100px" alt="User Logo" src="../assets/images/icon.png" class="user-icon">
    <h2>Yaotian Huang</h2>
    <p>Male, 22 years</p>
    <br>
    <a routerLink="/food-list" class="sidebar-item">Food List</a>
    <a routerLink="/today" class="sidebar-item">Today</a>
    <a routerLink="/chart" class="sidebar-item">Chart</a>
  </div>
  <!-- Sidebar 上上上 -->

  <!-- Content 下下下 -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <!-- Content 上上上 -->
</div>
<!-- Body 上上上 -->

<!-- Footer 下下下 -->
<div class="footer">
  <span>© All rights reserved, 2022.</span>
</div>
<!-- Footer 上上上 -->
