html {
  transition: 300ms;
}

h1 {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  color: lightsalmon;
  width: 300px;
  font-size: 30px;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: lightsalmon;
  padding: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  margin: 10px 10px 10px 10px;
}

.block-icon {
  position: relative;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.block-title {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.block-date-display {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.block-date-display span {
  padding: 30px 20px;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 20px;
  color: lightsalmon;
}

.user-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.content-container {
  flex: 8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightsalmon;
  border-radius: 10px;
  height: 100%;
  margin: 0px 10px 10px 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: white;
  border-radius: 10px;
  margin: 0px 10px 5px 0px;
  padding: 20px;
  border-right: 1px solid #ccc;
  height: 100%;
}

.sidebar-item {
  background-color: lightsalmon;
  height: 4em;
  line-height: 4em;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  font-size: large;
  transition: 300ms;
}

.sidebar-item:hover {
  background-color: salmon;
  color: white;
}

.sidebar-item:active {
  background-color: red;
  color: white;
}

.sidebar-item.selected {
  background-color: red;
  color: white;
}

.content {
  flex: 8;
  background-color: white;

  padding: 20px;
  border-radius: 10px;
  height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 10px 5px 10px;
}

.footer * {
  font-size: 14px;
  text-align: left;
}

.date-display {
  background-color: lightsalmon;
  border-radius: 10px;
  color: white;
  flex: 1;
}
